@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.main {
    min-height: 100vh;
    background: #1f57ff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding : 150px 0;
    font-family: 'Inter', sans-serif;
}

.icon {
  display: block;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 10px;
}

.icon img {
  border-radius: 50%;
  border: 3px solid #ffffff;
}

.icon_photo {
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.user {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 46px;
  transition: all .2s ease-in-out;
  margin-bottom: 50px;
}

.user_name {
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.scores {
  display: flex;
  gap: 20px;
  justify-content: center;
  max-width: 60px;
  width: 100%;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.score {
  display: block;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 46px;
  transition: all .2s ease-in-out;
}

.score:hover {
  transform: scale(1.1);
}

.score_number {
  line-height: 50px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.score_details {
  width: 100%;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.history_table {
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  flex-direction: column;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
}

.history_row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
  background-color: #fff;
  border-radius: 4px;
}

.row_names {
  font-weight: bold;
}

.history_cell {
  width: 100%;
  text-align: center;
}

.history_cell:nth-child(1) {
  font-size: 13px;
}

.history_cell:nth-child(2) {
  width: 100px;
}